---
title: Tutorial
weight: 10
---

# Tutorial

GOV.UK Verify uses SAML (Security Assertion Markup Language) to securely exchange information about identities. A
Relying Party can use [Verify Service Provider](https://github.com/alphagov/verify-service-provider/blob/master/README.md) (VSP)
to generate SAML to send to the Verify Hub and translate the SAML responses returned by the Verify Hub.

This tutorial explains how to integrate with the VSP to send a SAML `AuthnRequest` to the GOV.UK Verify Hub and how to handle a SAML `Response` coming back from the GOV.UK Verify Hub.

## Prerequisites

To be able to follow this tutorial you must:

* have Java 8 or higher
* [set up and configure Verify Service Provider](https://github.com/alphagov/verify-service-provider/blob/master/README.md)
* have [initialised the Compliance Tool](LINK)

You can check if your VSP is set up properly by doing a GET request to the `admin/healthcheck` endpoint to confirm it is running correctly.

## Context

When a user indicates they want to use Verify, your service must send a request to the GOV.UK Verify Hub to start the identity
verification process. That request is known as an `AuthnRequest` and must be in SAML. The `AuthnRequest` is sent to the Hub via the user's browser.

You'll need to:

1. Generate a SAML `AuthnRequest` using the VSP.
2. Store the `requestId` from the response.
3. Send the SAML `AuthnRequest`to GOV.UK Verify Hub

### Step 1: Generate a SAML AuthnRequest

Make a POST request to the `/generate-request` endpoint to generate a SAML `AuthnRequest`. The request body must contain the level of assurance you want to confirm for that user.

<details>
<summary>
Example call
</summary>

```sh
curl -H 'Content-Type: application/json' --data '{ "levelOfAssurance": "LEVEL_2" }' localhost:50400/generate-request
```

</details>

<details>
<summary>
Example response
</summary>

```json
{
    "samlRequest": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c2FtbDJwOkF1dGhuUmVxdWVzdCB4bWxuczpzYW1sMnA9InVybjpvYXNpczpuYW1lczp0YzpTQU1MOjIuMDpwcm90b2NvbCIgRGVzdGluYXRpb249Imh0dHBzOi8vY29tc...",
    "requestId": "_f43aa274-9395-45dd-aaef-25f56f49084e",
    "ssoLocation": "https://compliance-tool-reference.ida.digital.cabinet-office.gov.uk/SAML2/SSO"
}
```

</details>

The parts of the response represent:

* `samlRequest` - your base64 encoded `AuthnRequest`
* `requestId` - a token that identifies the `AuthnRequest`. It is used to connect the user's browser with a specific request.
* `ssoLocation` - the URL to send the `AuthnRequest` to



### Step 2: Store the requestId from the response

You will need to access the `requestId` later in the process to link the identities received from GOV.UK Verify with the correct user.

You must store the `requestId` securely and link it to the user's session. We recommend you store the `requestId` in a secure cookie.

### Step 3: Send the AuthnRequest to Compliance Tool

The `AuthnRequest` is sent via the user's browser in a form. We recommend you do this by rendering an HTML form and JavaScript to submit it, as per [SAML HTTP Post Binding](https://en.wikipedia.org/wiki/SAML_2.0#HTTP_Post_Binding).

The HTML form should:

* escape inputs - to make sure no symbols or special characters are processed
* contain JavaScript to auto-post - to automatically send the user on to the Hub
* include page styling to display if JavaScript is disabled - to prompt users to turn on JavaScript. This should look like your service

<details>
<summary>
Example HTML form from passport-verify
</summary>

```html
    <form class='passport-verify-saml-form' method='post' action='${escape(ssoLocation)}'>
      <h1>Continue to next step</h1>
      <p>Because Javascript is not enabled on your browser, you must press the continue button</p>
      <input type='hidden' name='SAMLRequest' value='${escape(samlRequest)}'/>
      <input type='hidden' name='relayState' value=''/>
      <button class='passport-verify-button'>Continue</button>
    </form>
    <script>
      var form = document.forms[0]
      form.setAttribute('style', 'display: none;')
      window.setTimeout(function () { form.removeAttribute('style') }, 5000)
      form.submit()
    </script>
    <style type='text/css'>
      body {
        padding-top: 2em;
        padding-left: 2em;
      }
      .passport-verify-saml-form {
        font-family: Arial, sans-serif;
      }
      .passport-verify-button {
        background-color: #00823b;
        color: #fff;
        padding: 10px;
        font-size: 1em;
        line-height: 1.25;
        border: none;
        box-shadow: 0 2px 0 #003618;
        cursor: pointer;
      }
      .passport-verify-button:hover, .passport-verify-button:focus {
        background-color: #00692f;
      }
    </style>
```

</details>

The response from Compliance Tool should contain `"status": "PASSED"` and a `responseGeneratorLocation` URL which you can use to access the test scenarios.

<details>
<summary>
Example response from Compliance Tool
</summary>

```json
  {
    "status": {
      "status": "PASSED",
      "message": null
    },
    "responseGeneratorLocation": "https://compliance-tool-reference.ida.digital.cabinet-office.gov.uk:443/rp-test/_5178cb11-bc5a-4124-8c61-f8bac98e1db6"
  }
```

</details>

If the status is not `PASSED`, you may need to re-initialise the Compliance Tool. You should also check the Compliance Tool initialisation request matches the VSP configuration.

Go to the URL in `responseGeneratorLocation` using your browser. The response will contain the test scenarios for possible responses.

<details>
<summary>
Example test scenarios from Compliance Tool
</summary>

```json
{
  "id" : "_6817b389-4924-479c-9851-db089c4e639c",
  "testCases" : [ {
    "executeUri" : "https://compliance-tool-reference.ida.digital.cabinet-office.gov.uk:443/rp-test/_6817b389-4924-479c-9851-db089c4e639c/test-non-matching/10",
    "id" : 10,
    "title" : "Verified User On Service With Non Match Setting",
    "description" : "Issues a successful response where the user has been successfully verified."
  }, {
    "executeUri" : "https://compliance-tool-reference.ida.digital.cabinet-office.gov.uk:443/rp-test/_6817b389-4924-479c-9851-db089c4e639c/test-non-matching/11",
    "id" : 11,
    "title" : "No Authentication Context Response With Non Match Setting",
    "description" : "Issues a response with NoAuthnContext status. This happens when the user cancels or fails to authenticate at an appropriate level of assurance."
  }, {
    "executeUri" : "https://compliance-tool-reference.ida.digital.cabinet-office.gov.uk:443/rp-test/_6817b389-4924-479c-9851-db089c4e639c/test-non-matching/13",
    "id" : 13,
    "title" : "Authentication Failed Response",
    "description" : "Issues an Authentication Failed response. The user was not authenticated successfully."
  }, {
    "executeUri" : "https://compliance-tool-reference.ida.digital.cabinet-office.gov.uk:443/rp-test/_6817b389-4924-479c-9851-db089c4e639c/test-non-matching/14",
    "id" : 14,
    "title" : "Fraudulent match response with assertions signed by hub",
    "description" : "Issues a response with an assertion signed with the hub's private key. Your service should return an error to the user because your service should only trust assertions signed by your matching service adapter."
  } ]
}
```

</details>

Access the URL for a particular scenario to test that your service can handle that particular response.

### Step 4: Receive the SAML Response


The SAML Response will be submitted to the URL you specified when initialising the Compliance Tool, via the user's browser. For example, `passport-verify-stub-relying-party` uses `/verify/response`. The SAML Response will be URL form encoded, `application/x-www-form-urlencoded`.

<details>
<summary>
Example form body submitted from the user's browser
</summary>

```
SAMLResponse=PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHNhbWwycDpSZXNwb25zZSBEZXN0aW5hdGlvbj0iaHR0cHM6Ly9wYXNzcG9ydC12ZXJpZnktc3R1Yi1yZWx5aW5nLXBhcnR5LWRldi5jbG91ZGFwcHMuZGlnaXRhbC92ZXJpZnkv...
```

</details>

<details>
<summary>
Example successful match response
</summary>

```
< HTTP/1.1 200 OK
< Content-Type: application/json
<
{
    "scenario": "SUCCESS_MATCH",
    "pid": "etikgj3ewowe",
    "levelOfAssurance": "LEVEL_2",
    "attributes": null
}
```

</details>

<details>
<summary>
Example successful user account creation response
</summary>

```
< HTTP/1.1 200 OK
< Content-Type: application/json
<
{
    "scenario": "ACCOUNT_CREATION",
    "pid": "etikgj3ewowe",
    "levelOfAssurance": "LEVEL_2",
    "attributes": {
        "firstName": {
            "value": "Screaming",
            "verified": true
        },
        "middleName": {
            "value": "Jay",
            "verified": false
        },
        "surname": {
            "value": "Hawkins",
            "verified": true
        },
        "dateOfBirth": {
            "value": "1977-07-21",
            "verified": false
        },
        "address": {
            "value": {
                "lines": [
                    "33 Example Street"
                ],
                "postCode": "WC1 7AA",
                "internationalPostCode": null,
                "uprn": null,
                "fromDate": null,
                "toDate": null
            },
            "verified": true
        },
        "addressHistory": [
            {
                "value": {
                    "lines": [
                        "33 Example Street"
                    ],
                    "postCode": "WC1 7AA",
                    "internationalPostCode": null,
                    "uprn": null,
                    "fromDate": "2016-11-01",
                    "toDate": null
                },
                "verified": true
            },
            {
                "value": {
                    "lines": [
                        "33 Old Street"
                    ],
                    "postCode": "WC1 6AA",
                    "internationalPostCode": null,
                    "uprn": null,
                    "fromDate": "2015-11-01",
                    "toDate": "2016-11-01"
                },
                "verified": false
            }
        ],
        "cycle3": "NINO"
    }
}
```

</details>

<br>

**HTTP response codes**

Common [response codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes) include:

| Code | Description |
| --- | --- |
| 200 | Contains the details of the SAML response, translated into JSON - see 'Handle response scenarios' (ADD LINK) for next steps. |
| 400 | An error due to a problem translating the Response. |
| 422 | An error due to a JSON request in an invalid format (e.g. missing mandatory parameters). |
| 500 | An error due to an internal server error. |

## How to handle 200 responses

When you receive an HTTP 200 response, it will contain one of 6 SAML scenarios with:

* `pid` - a unique identifier that can identify a user against a record in your internal database(s)
* `levelOfAssurance` - the user's minimum level of assurance
* `attributes` - name, date of birth, and other information you can use to create a new user account, if required

| Scenario | Description |
| --- | --- |
| SUCCESS_MATCH | The user was successfully matched by your matching service. Will include `pid` and `levelOfAssurance`. |
| ACCOUNT_CREATION | User was successfully verified, but has not yet been matched. Will include full list of attributes so you can create a new user account. |
| NO_MATCH | User successfully verified, but could not be matched. Used by services that do not want to create new user accounts. |
| CANCELLATION | User opted to cancel verification at some point in their journey. Response will be empty. |
| AUTHENTICATION_FAILED | User could not be identified by identity provider. |
| REQUEST_ERROR | Internal error. Contact  idasupport+onboarding@digital.cabinet-office.gov.uk. |

## Returning users
If a user has previously verified their identity with an identity provider, the API should return a recognised `pid` or unique identifier for that user. Your Matching Service Adapter should follow the [matching cycle 0](http://alphagov.github.io/rp-onboarding-tech-docs/pages/ms/msWorks.html?highlight=matching%20cycle#ms-mc0) to find the `pid` in your database(s).

If you receive `ACCOUNT_CREATION` when you expect `SUCCESS_MATCH`, there may be an issue with your Matching Service Adapter.

## Check the status of your VSP

You can check if your VSP is set up properly by doing a GET request to the `admin/healthcheck` endpoint to confirm it is running correctly.
